@import url(https://fonts.google.com/specimen/Poppins?query=poppins);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    background: url(awesome-football-wallpaper_041156919_96.jpg);
    background-size: cover;
    background-position: center;

}

.contenu{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #140c05;
    position: relative;
    text-align: left;

}


.contenu h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;

}

.contenu span{
    color: crimson;
    font-size: 60px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgb(4, 88, 63);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.group {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover:after{
    transform: scaleX(1);
}